{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<h1 style="text-align: center">Welcome to Dhruv's Review Scrapper</h1>
<div class="content">
<h2 style="text-align: center">Enter any device you want</h2>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search" id="btn">
        </form>
    </div>
</div>
{% endblock %}